<a href="#addresses/add" class="btn btn-info">Add a new contact</a>
<br/>
<br/>
<table class="table table-striped table-bordered table-responsive">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Address</th>
			<th>Phone</th>
			<th align="center">Changes</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="address in addresses">
			<td>{{address.firstName}}</td>
			<td>{{address.lastName}}</td>
			<td>{{address.personal.address}}</td>
			<td>{{address.personal.phone}}</td>
			<td align="center"><a href="#addresses/{{address.id}}"><span class="glyphicon glyphicon-cog"></span></a></td>
		</tr>
	</tbody>
</table>