<a href="#addresses/add" class="btn btn-info">Add a new contact</a>
<br/>
<br/>
<ul class="list-unstyled">
	<li ng-repeat="address in addresses">
		<address-view input-data="address"></address-view>
	</li>
</ul>

<ul class="list-unstyled pagination pagination-sm">
	<li ng-class="getPrevClassName()"><a href="#">&laquo;</a></li>
	<li ng-class="getClassName(num)" ng-repeat="num in arrForPageNos">
		<a href="#addresses/page/{{num}}">{{num}}</a>
	</li>
	<li ng-class="getNextClassName()"><a href="#">&raquo;</a></li>
</ul>
